@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.app {
  min-height: 100vh;
  display: grid;
  justify-content: center;
  align-items: center;
  background: #e2d4ff;
}