@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;700&display=swap');

* {
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}
body {
  background: #050505;
}
.app {
  min-height: 100vh;
  display: grid;
  justify-content: center;
  align-items: center;
  background-image: radial-gradient(circle at center, #1a1a2e 0%, #050505 100%);
}